/*
 * Main
 */
body {
	background-color: #FFFFFF;
}
label {
	color: #FFFFFF !important;
}
textarea {
	width: 80% !important;
	height: 5em !important;
  	min-height: 0 !important;
	background-color: #000000 !important;
	color: #FFFFFF !important;
	resize: none;
}
/*
 * Menu
 */
#index .secondary.menu {
	text-align: center;
}

#index .secondary.menu .item{
	margin-top: 1em;
}

#index .secondary.menu .item.active{
	border-radius: 100em;
	padding: 1.2em;
	background-color: rgb(254, 239, 112);
}

.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
  border-radius: 100em !important; 
}

#index .ui.menu.fixed {
	position: fixed;
	z-index: 9999;
	margin: 0;
	border: none;
	width: 100%;
}

/*
 * Segment
 */
#index .masthead {
	  margin: 0em;
	  margin-top: .01em;
	  padding-top: 5em;
	  padding-bottom: 5em;
	  min-height: 775px;
	  border-radius: 0;
}

#index .feature.segment {
	margin: 0em;
	padding: 0em;
	border-radius: 0;
	min-height: 775px;
}

#index #skills {
	background-color: #1A1A1A;
}

#index #post {
	z-index: 9997;
	margin-top: -1em;
}

#index .resume {
	z-index: 9998;
	position: relative;
	width: 100%;
}

#index #resume {
	margin-top: 60%;
  	background-color: #1A1A1A;
  	box-shadow: 0 0 0 1px rgba(39, 41, 43, 0),0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
#index #resume:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%)translateY(-50%)rotate(45deg);
  -ms-transform: translateX(-50%)translateY(-50%)rotate(45deg);
  transform: translateX(-50%)translateY(-50%)rotate(45deg);
  margin: 0;
  background: 0 0;
  width: .6em;
  height: .6em;
  border-bottom: 1px solid #d4d4d5;
  border-right: 1px solid #d4d4d5;
}
/*
 * parallax
 */
 #index .parallax.nav{
 	z-index: 9997;
  	width: 55%;
  	padding-left: 15%;
 }
#index .parallax.first {
	margin-top: 2em;
  	margin-left: 1em;
	position: fixed;
	z-index: 9996;
}

#index .parallax.second {
	position: inherit;
	z-index: 9997;
}

#index .parallax.third {
	position: fixed;
	z-index: 9994;
}

#index .parallax.fourth {
	width: 100%;
	position: absolute;
	z-index: 9997;
}
/*
 * @media
 */
@media screen and (max-width:768px){

#index #summer {
	right: 0;
}

}
