/*
 * Main
 */
body {
	background-color: #1b1c1d;
}
/*
 * Menu
 */
#index .secondary.menu {
	text-align: center;
}

#index .secondary.menu .item{
	margin-top: 1em;
}

#index .secondary.menu .item.active{
	border-radius: 100em;
	padding: 1.2em;
	background-color: rgb(254, 239, 112);
}

.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
  border-radius: 100em !important; 
}

#index .ui.menu.fixed {
	position: fixed;
	z-index: 9999;
	margin: 0;
	border: none;
	width: 100%;
}

#index .ui.menu.circle {
	background-color: #000000;
}
/*
 * Segment
 */
#index .masthead {
	margin: 0em;
	margin-top: .1em;
	padding-top: 5em;
	padding-bottom: 5em;
	min-height: 775px;
}

#index .feature.segment {
	margin: 0em;
	padding: 0em;
	border-radius: 0;
	min-height: 775px;
}

#index #skills {
	background-image: url(./img/skill.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*
 * parallax
 */
 #index .parallax.nav{
 	z-index: 9998;
  	width: 55%;
  	padding-left: 15%;
 }
#index .parallax.first {
	margin-top: 2em;
  	margin-left: 1em;
	position: fixed;
	z-index: 9997;
}

#index .parallax.second {
	position: inherit;
	z-index: 9998;
}

#index .parallax.third {
	position: fixed;
	z-index: 9995;
}

#index .parallax.fourth {
	position: inherit;
	z-index: 9998;
}
/*
 * @media
 */
@media screen and (max-width:768px){

#index #summer {
	right: 0;
}

}
