<div class="ui feed">
{% for post in site.posts %}
  <div class="event">
    <div class="label">
      <img src="/img/avatar.png">
    </div>
    <div class="content">
      <div class="summary">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> by {{ site.github_username }}
        <div class="date">
          {{ post.date | date: "%b %-d, %Y" }}
        </div>
      </div>
      <div class="extra images">
        <a class="image" href="{{ post.image }}" data-lightbox="case-images" data-title="{{ post.description }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      <div class="extra text">
       {{ post.excerpt }}
      </div>
      <div class="meta">
        <a class="tag">
          <i class="tag icon"></i> {{ post.tags }}
        </a>
      </div>
      </div>
  </div>
  {% endfor %}
  </div>