<div class="ui segment">
<div class="ui feed">
{% for post in site.posts %}
  <div class="event">
    <div class="label">
      <img src="{{ post.image }}">
    </div>
    <div class="content">
      <div class="summary">
        <a>{{ site.github_username }}</a> {{ post.title }}
        <div class="date">
          {{ post.date | date: "%b %-d, %Y" }}
        </div>
      </div>
      <div class="extra text">
       {{ page.excerpt }}
      </div>
      <div class="meta">
        <a class="tag">
          <i class="tag icon"></i> {{ page.tags }}
        </a>
      </div>
      </div>
  </div>
  {% endfor %}
  </div>
  </div>